.wrapper {
    right: 24px;
    position: fixed;
    bottom: 8px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 8px;
    transform: none;
    transition: all 400ms cubic-bezier(0.65, 0, 0.35, 1) 0s;
}
.onanimation {
    animation: slideInBot ease 0.5s;
}
.hide {
    animation: hideanimation ease 0.5s;
}
@keyframes slideInBot {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%);
    }
}
@keyframes hideanimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}

.getapp {
    border: none;
    background: none;
    outline: none;

    color: rgba(22, 24, 35, 0.75);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 14px;

    position: relative;
    right: 0;
    bottom: 0;
    padding: 0 8px;
    min-width: 90px;
    height: 32px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);

    transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1);
    transform-origin: right bottom;

    transform: none;
    margin-bottom: 8px;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.button {
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 52px;
    background: rgba(254, 44, 85, 1);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.popup {
    display: flex;
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.title-popup {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.wrapper-popup {
    margin-bottom: 0px;
    min-width: 360px;
    min-height: 500px;
    padding: 40px 32px 32px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid rgba(22, 24, 35, 0.03);
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    position: relative;
}

.img-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-img {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 32px 0px 24px;
    width: auto;
    padding: 0px 24px;
}
.img {
    width: 174px;
    height: 174px;
}
.footer-popup {
    margin-top: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.footer-img {
    width: 142px;
    height: 45px;
    background-size: 138px;
    object-fit: cover;
    border-radius: 4px;
    margin: 8px;
}
