.container {
    margin: auto;
    height: calc(100vh - 60px);
    max-width: 1100px;
    min-width: 1100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 16px;
}
