.container {
    width: 1100px;
    display: flex;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 12%);
    margin-left: 50%;
    margin-top: 76px;
    transform: translate(-50%);
    padding: 32px 40px;
    overflow-y: auto;
    height: calc(100vh - 60px);
    position: relative;
    overflow-x: hidden;
    margin-bottom: 160px;
}
@media only screen and (max-width: 1160px) {
    .container {
        width: calc(100% - 144px);
    }
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    align-items: flex-start;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 32px 40px;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 24px;
}
.left-title {
    color: rgb(22, 24, 35);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.right-title {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    line-height: 22px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

.title-buy {
    max-width: 100%;
    min-width: 255px;
    width: max-content;
    height: 76px;
    padding: 16px 48px 16px 20px;
    display: flex;
    opacity: 0.8;
    place-content: center flex-start;
    background: rgba(22, 24, 35, 0.03);
    border-radius: 4px;
    margin-top: 20px;
}
.avatar {
    height: 44px;
    min-width: 44px;
    margin-left: 0px;
}
.iconcurrent {
    height: 18px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-left: 4px;
    color: rgba(22, 24, 35, 0.5);
}
.descript {
    display: flex;
    align-content: center;
    height: 18px;
    justify-content: center;
}
.wrappercoin {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    padding-right: 20px;
    min-width: 0px;
}
.name {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    padding-right: 20px;
    min-width: 0px;
}
.coincurrent {
    padding-left: 20px;
    border-left: 1px solid rgba(22, 24, 35, 0.12);
}
.buycoin {
    width: 100%;
}
.titlebuycoin-red {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-top: 12px;
    color: rgb(254, 44, 85);
}
.titlebuycoin {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-top: 16px;
    line-height: 1.2;
}
.number-coin {
    position: relative;
    text-align: center;
    min-height: 96px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px 2px 16px;
    border-radius: 4px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    user-select: none;
    cursor: pointer;
    pointer-events: initial;
    opacity: 1;
    background-image: initial;
    background-repeat: no-repeat;
    background-position: left bottom -1px;
}

.buttoncoin {
    display: grid;
    grid-template-columns: repeat(auto-fit, 219px);
    position: relative;
    width: 100%;
    gap: 24px 44px;
    margin-top: 16px;
}
.wrapper-coin {
    display: flex;
    flex-direction: column;
}
.rowcoin {
    height: 32px;
    align-items: center;
    display: flex;
}
.iconcoin {
}
.numcoin {
    font-size: 24px;
    line-height: 1.2;
    display: inline-block;
    color: rgb(22, 24, 35);
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 0px;
    font-weight: 700;
}

.vnd {
    font-weight: 700;
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
    text-align: center;
    line-height: 1.1;
}
.coincurrent {
    padding-left: 20px;
    border-left: 1px solid rgba(22, 24, 35, 0.12);
}

.title-footer {
    margin-top: 16px;
}
.iconvnd {
    font-size: smaller;
}

.img-pay {
}
.footer {
}
.button {
    width: 100%;
    margin-top: 24px;
}
.current-content1 {
    color: rgba(22, 24, 35, 0.5);
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    width: max-content;
}
.current-content2 {
    font-weight: 700;
    color: rgba(22, 24, 35, 0.34);
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.title-footer {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.total {
    width: 100%;
    display: flex;
}
.total-coin {
    color: rgb(22, 24, 35);
    display: inline-block;
    margin-right: 6px;
    font-size: 16px;
    line-height: 22px;
}
.number-totalcoin {
    color: rgb(22, 24, 35);
    margin-left: 8px;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
