.wrapper {
    --search-height: 46px;
    --search-top-space: 9px;
    --search-boder-radius: 92px;
    --search-button-width: 52px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    z-index: 10;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizoltal-spacer) 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: flex;
}
.logo {
    display: flex;
}

.actions {
    display: flex;
    align-items: center;
    position: relative;
}
//ACTION
.actions {
    display: flex;
    align-items: center;
}
.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background: transparent;
    cursor: pointer;
}
// menuleft
.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
@media only screen and(max-width : 414px) {
    .upLoad {
        display: none;
    }
}
@media only screen and(max-width : 414px) {
    .upLoad {
        display: none;
    }
}
