.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 26px 8px;
    overflow: auto;

    width: 356px;
    height: 1200px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
}

.LIVE {
}

.btn-login {
    width: 340px;
    height: 156px;
    padding: 20px 8px 24px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    margin-top: 8px;
}
.text-login {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
}
.suggested-accounts {
    padding: 16px 0px;
    width: 340px;

    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);
}
.title-accounts {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}
.seeall-accounts {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 8px;
    margin-top: 8px;
    cursor: pointer;
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
}
.title-discover {
    color: rgba(22, 24, 35, 0.75);

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 16px;
}
.about {
    position: relative;
    padding-top: 16px;
    padding-left: 8px;
}
.footer-year {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}
